@import "tailwindcss";

@theme {
  /* Colors */
  --color-black-100: #121212;
  --color-black-200: #202020;
  --color-black-300: #303030;
  --color-white: #fff;
  --color-white-100: #bbb;
  --color-white-200: #999;

  --color-brand: #6dacff;      /* 기존 브랜드 컬러 */
  --color-paper: #f2f2f2;      /* 본문/제목용 밝은 텍스트 */

  /* Fonts */
  --font-serif: "Cormorant Garamond", serif;
  --font-sans: "Pretendard Variable", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overscroll-behavior-y: none;
  overflow-x: hidden ;
}
